{% extends 'base.html' %}
{% block content %}
{{ super() }}



<h1>🔮Привет!🖼</h1>

<h5>FlaskyPillow – это редактор изображений</h5>

<h3>Загрузи фотографию в редактор🌠➡️✏️</h3>
<h3>Выбери функцию-эффект🔮🧿</h3>
<h3>Сохрани результат в Галерею🖼</h3>
<h3>Но сначала нужно <a href="{{url_for('register')}}" class="text-primary">зарегистрироваться</a>🔮🧿</h3>



<h3 class="text-center">
    <!-- <div class="scroller">
        <span>
          111111<br/>
          211111<br/>
          311111<br/>
          411111<br/>
        </span>
      </div> -->
</h3>
  

    

 
{% endblock %}